@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Registration Page Styles */
.registration-label {
  @apply block text-xs font-semibold ml-1;
}

.registration-text-input {
  @apply block bg-neutral-600 w-full rounded-lg p-2 mt-2 text-[.90rem];
}

.registration-error-text {
  @apply text-xs text-red-500 ml-1 mt-1;
}
